.browserContainer {
  display: flex;
}

.cardsContainer {
  display: flex;
  flex-basis: 75%;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5rem;
}

.filterContainer {
  flex-basis: 25%;
}

.paginationWrapper {
  display: flex;
}
