.container {
  // margin: 0 auto;
}

.cardImageContainer {
}

.cardImage {
  // width: 100%;
  width: 280px;
  height: 400px;
  // object-fit: contain;
}

.textContainer {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
