.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  height: 80px;
  background-color: #fff;
  z-index: 100;
  position: relative;
}

.shoppingCart {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.chip {
  position: absolute;
  top: 54px;
  right: -2px;
  width: 15px;
  height: 15px;
  background-color: #000000;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
